**/.DS_Store
xcuserdata
AmazonChimeSDKMedia.framework
AmazonChimeSDK.framework
AmazonChimeSDKMedia.xcframework
AmazonChimeSDK.xcframework
MockingbirdMocks
MockingbirdCache
build
AmazonChimeSDK/docs
AmazonChimeSDK/MockingbirdSupport/
**/IDEWorkspaceChecks.plist
Pods
