**/.DS_Store
xcuserdata
AmazonChimeSDK.framework
AmazonChimeSDKMachineLearning.framework
AmazonChimeSDKMedia.framework
AmazonChimeSDK.xcframework
AmazonChimeSDKMachineLearning.xcframework
AmazonChimeSDKMedia.xcframework
build
AmazonChimeSDK/docs
**/IDEWorkspaceChecks.plist
Pods
Package.resolved
