**/.DS_Store
xcuserdata
AmazonChimeSDKMedia.framework
AmazonChimeSDK.framework
MockingbirdMocks
MockingbirdCache
build
AmazonChimeSDK/docs
AmazonChimeSDK/MockingbirdSupport/
**/IDEWorkspaceChecks.plist
